﻿@using Codie.Models;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Codie", "Introduction", "Book", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Переключить навигацию" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        if ((UserState.CurrentUser?.Role ?? "User") == "Admin")
                        {
                            <li> @Html.ActionLink("Account", "Index", "Account", new { area = "" }, new { @class = "nav-link" }) </li>
                            <li> @Html.ActionLink("Single tasks manage", "Index", "SingleChoise", new { area = "" }, new { @class = "nav-link" }) </li>
                            <li> @Html.ActionLink("Multi tasks manage", "Index", "MultiChoise", new { area = "" }, new { @class = "nav-link" }) </li>
                        }
                        <li> @Html.ActionLink("Tasks 1", "Tasks", "SingleChoise", new { area = "" }, new { @class = "nav-link" }) </li>
                        <li> @Html.ActionLink("Tasks 2", "Tasks", "MultiChoise", new { area = "" }, new { @class = "nav-link" }) </li>
                    }
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @{
                    if (!UserState.Authorized)
                    {
                        <li style="float:right">@Html.ActionLink("Logi sisse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        <li> | </li>
                        <li style="float:right">@Html.ActionLink("Registreerimine", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    }
                    else
                    {
                        <li style="float:right">
                            @Html.ActionLink("Tere " + UserState.GetFullName() + "!", "Details", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li> | </li>
                        <li style="float:right">@Html.ActionLink("Logi välja", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
