@model Codie.Models.MultiChoiseModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tasks";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>
    <div>
        <h4>MultiChoiseModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Statement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Statement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Options)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Options)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
